astroid==2.4.1
attrs==19.3.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9.2
idna==2.9
isort==4.3.21
jellyfish==0.7.2
lazy-object-proxy==1.4.3
lib50==2.0.8
mccabe==0.6.1
pexpect==4.8.0
ptyprocess==0.6.0
pycparser==2.20
pylint==2.5.2
pynput==1.6.8
pyobjc-core==6.2
pyobjc-framework-Cocoa==6.2
pyobjc-framework-Quartz==6.2
PyYAML==5.4
requests==2.23.0
six==1.14.0
submit50==3.0.2
termcolor==1.1.0
toml==0.10.0
urllib3==1.25.9
wrapt==1.12.1